@model MARS_MELA_PROJECT.Models.CreatePassword
@{
    ViewData["Title"] = "CreatePassword";
}

<h1>CreatePassword</h1>
<form asp-action="CreatePassword" asp-controller="Account" method="post">
    <div class="container">

        <br /><br />
        <div class="row">
            <div class="col-sm-4">
                <input asp-for="MobileNo" class="form-control" placeholder="MobileNo" value="@TempData["moblieno"]" />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
        </div>
       
        <br /><br />
        <div class="row">
            <div class="col-sm-4">
                <input asp-for="PasswordHash" class="form-control" placeholder="New Password" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <input asp-for="ConfirmPassword" class="form-control" placeholder="confirm Password" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-sm-4">
                <input type="submit" class="btn btn-outline-primary  w-100" value="Submit" />
            </div>
        </div>
        @if (TempData["Success"] != null)
        {
            <script>
                alert("@TempData["Success"]");
            </script>
        }


    </div>
</form>

