@model MARS_MELA_PROJECT.Models.EnterPassword

@{
    ViewData["Title"] = "Enter Password";
}

<div class="min-h-full flex items-center justify-center bg-gray-100 mt-12">
    <div class="w-full max-w-sm bg-white p-8 rounded-2xl shadow-lg">
        <h3 class="text-2xl font-semibold text-center text-gray-800 mb-6">Enter Password<p class=" text-lg font-medium text-center text-gray-500"> Please enter your password to continue</p></h3>
         <form asp-action="EnterPassword"
          asp-controller="Account"
          method="post"
          class=" space-y-5">

        <!-- Mobile (Readonly) -->
        <div>
            <label class="block text-sm font-medium mb-1">
                Mobile Number
            </label>
            <input asp-for="MobileNo"
                   readonly
                   class="w-full rounded-md border border-gray-300 bg-gray-100
                          px-4 py-3 text-sm cursor-not-allowed" />
            <span asp-validation-for="MobileNo" class="text-sm text-red-500"></span>
        </div>

        <!-- Password -->
        <div>
            <label class="block text-sm font-medium mb-1">
                Password
            </label>
            <input asp-for="PasswordHash"
                   type="password"
                   placeholder="Enter Password"
                   class="w-full rounded-md border border-gray-300 px-4 py-3 text-sm
                          focus:outline-none focus:ring-2 focus:ring-blue-500" />
            <span asp-validation-for="PasswordHash" class="text-sm text-red-500"></span>
        </div>

        <!-- Links -->
        <div class="flex justify-between text-sm text-gray-600">
            <a asp-controller="Account"
               asp-action="SignUP"
               class="hover:underline text-blue-700 no-underline">
                Not a user? Sign Up
            </a>

            <a asp-controller="Account"
               asp-action="ForgotPassword"
               class="hover:underline text-blue-700 no-underline">
                Forgot?
            </a>
        </div>

        <!-- Submit -->
        <button type="submit"
                class="w-full bg-[#3B5AA9] text-white py-3 rounded-full
                       text-sm font-medium hover:bg-[#2f4c94] transition">
            Submit
        </button>

        </form>
</div>
</div>

<!-- Alerts -->
@if (TempData["Success"] != null)
{
    <script>alert("@TempData["Success"]");</script>
}

@if (TempData["loginnotfound"] != null)
{
    <script>alert("@TempData["loginnotfound"]");</script>
}

@if (TempData["wrongpassword"] != null)
{
    <script>alert("@TempData["wrongpassword"]");</script>
}
