
@model MARS_MELA_PROJECT.Models.EnterPassword;
@{
    ViewData["Title"] = "EnterPassword";
}

<h1>EnterPassword</h1>

<form asp-action="EnterPassword" asp-controller="Account" method="post">
    <div class="container">

        <br /><br />
        <div class="row">
            <div class="col-sm-4">
                

                <input asp-for="MobileNo" class="form-control" readonly />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
        </div>

        <br /><br />
        <div class="row">
            <div class="col-sm-4">
                <input asp-for="PasswordHash" class="form-control" placeholder="Enter Password" />
                <span asp-validation-for="PasswordHash" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-sm-4 d-flex justify-content-between">
                <p class="mb-0">
                    Not a User?
                    <a asp-controller="Account" asp-action="SignUP"> Sign Up</a>
                </p>

                <p class="mb-0">
                    <a asp-controller="Account" asp-action="ForgotPassword">Forgot?</a>
                </p>
            </div>
        </div>

        <br />

        


        <div class="row">
            <div class="col-sm-4">
                <input type="submit" class="btn btn-outline-primary  w-100" value="Submit" />
            </div>
        </div>
        @if (TempData["Success"] != null)
        {
            <script>
                alert("@TempData["Success"]");
            </script>
        }


        @if (TempData["loginnotfound"] != null)
        {
            <script>
                alert("@TempData["loginnotfound"]");
            </script>
        }

        @if( TempData["wrongpassword"] != null)
        {
            <script>
                alert("@TempData["wrongpassword"]");
            </script>
        }


    </div>
</form> 