@{
    ViewData["Title"] = "Home Page";
}




@if (TempData["frogetpassmessage"] != null)
{
    <script>
        alert("@TempData["frogetpassmessage"]");
    </script>
}




<div class="text-center">
    <h1 class="display-4">Welcome</h1>
</div>
