@model MARS_MELA_PROJECT.Models.Mobileverification;
@{
    ViewData["Title"] = "Mobileverification";
}

<h1>Mobile Verification</h1>

@if (TempData["emailupdate"] != null)
{
    <script>
        alert("@TempData["emailupdate"]");
    </script>
}



<form asp-action="Mobileverification" asp-controller="Account" method="post">
    <div class="container">

        <br /><br />

        <!-- Mobile -->
        <div class="row">
            <div class="col-sm-4">
               
                
                    <input asp-for="MobileNo" class="form-control" placeholder="MobileNo" />
                    <span asp-validation-for="MobileNo" class="text-danger"></span>
                
            </div>
        </div>

        <br /><br />

       

        <!-- OTP -->
        <div class="row">
            <div class="col-sm-2">
                <input asp-for="OTPCode" class="form-control" placeholder="Enter OTP" />
                <span asp-validation-for="OTPCode" class="text-danger"></span>
                <br />
            </div>

            <div class="col-sm-2">
                <input type="submit" value="Send_OTP" name="actiontype" class="btn btn-outline-primary w-100" />

                @if (TempData["OTPMessage"] != null)
                {
                    <div class="alert alert-info mt-2">@TempData["OTPMessage"]</div>
                }
            </div>
        </div>

        <br />

        <!-- Submit -->
        <div class="row">
            <div class="col-sm-4">
                <input type="submit" class="btn btn-outline-primary w-100" value="Submit" name="actiontype" />
            </div>
        </div>

        @if (TempData["Error"] != null)
        {
            <script>alert("@TempData["Error"]");</script>
        }

    </div>
</form>