@model MARS_MELA_PROJECT.Models.SignUP
@Html.AntiForgeryToken()

@{
    ViewData["Title"] = "SignUP";
}




<form asp-action="SignUP" asp-controller="Account" method="post">
    <div class="container">
        @* <div class="row">
            <div class="col-sm-4">
                <input type="radio" value="Citizen" asp-for="CreatedBy" id="CreatedBy1" />
                <label for="CreatedBy1">Citizen</label>
                <input type="radio" value="Company" asp-for="CreatedBy" id="CreatedBy2" />
                <label for="CreatedBy2">Company</label>
                <br />
                <span asp-validation-for="CreatedBy" class="text-danger"></span>
            </div>
        </div> *@


        <br /><br />
        <div class="row">
            <div class="col-sm-4">
                <input asp-for="FirstName" class="form-control" placeholder="First Name" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
        </div>

        <br /><br />
        <div class="row">
            <div class="col-sm-4">
                <input asp-for="LastName" class="form-control " placeholder="Last Name" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>

        <br /><br />
        <div class="row">
            <div class="col-sm-4">
                <input asp-for="MobileNo" class="form-control" placeholder="Mobile No." />
                <span asp-validation-for="MobileNo" class="text-danger"></span>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-sm-4">
                <input asp-for="EmailID" class="form-control" placeholder="Email ID" />
                <span asp-validation-for="EmailID" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-sm-4">
                <input type="submit" class="btn btn-outline-primary  w-100" value="Submit" />
            </div>
        </div>

    </div>
</form>