@model MARS_MELA_PROJECT.Models.UserViewModel


@{
    ViewData["Title"] = "MelaAdmin";
}

<h1>MelaAdmin</h1>

<!-- 🔴 Validation Summary for general errors -->
@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger">
        @Html.ValidationSummary(false)
    </div>
}




<form asp-action="MelaAdmin" asp-controller="SuperAdmin" method="post">
    <div class="container">
      


        <br /><br />
        <div class="row">
            <div class="col-sm-4">
                <input asp-for="MelaAdmin.FirstName" class="form-control" placeholder="First Name" />
                <span asp-validation-for="MelaAdmin.FirstName" class="text-danger"></span>
            </div>
        </div>

        <br /><br />
        <div class="row">
            <div class="col-sm-4">
                <input asp-for="MelaAdmin.LastName" class="form-control " placeholder="Last Name" />
                <span asp-validation-for="MelaAdmin.LastName" class="text-danger"></span>
            </div>
        </div>

        <br /><br />
        <div class="row">
            <div class="col-sm-4">
                <input asp-for="MelaAdmin.MobileNo" class="form-control" placeholder="Mobile No." />
                <span asp-validation-for="MelaAdmin.MobileNo" class="text-danger"></span>
            </div>
        </div>
        <br /><br />
        <div class="row">
            <div class="col-sm-4">
                <input asp-for="MelaAdmin.EmailID" class="form-control" placeholder="Email ID" />
                <span asp-validation-for="MelaAdmin.EmailID" class="text-danger"></span>
            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-sm-4">
                @if (Model.Rolesdropdowns != null)
                {
                    <select asp-for="RoleID"
                            asp-items="@(new SelectList(Model.Rolesdropdowns, "RoleID", "RoleName"))"
                            class="form-control">
                        <option value="">-- Select Role --</option>

                    </select>
                }
                <span asp-validation-for="RoleID" class="text-danger"></span>



            </div>
        </div>
        <br />

        <div class="row">
            <div class="col-sm-4">
                <input asp-for="MelaAdmin.PasswordHash" class="form-control" placeholder="New Password" />
                <span asp-validation-for="MelaAdmin.PasswordHash" class="text-danger"></span>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <input asp-for="MelaAdmin.ConfirmPassword" class="form-control" placeholder="confirm Password" />
                <span asp-validation-for="MelaAdmin.ConfirmPassword" class="text-danger"></span>
            </div>
        </div>
        <br />



        <div class="row">
            <div class="col-sm-4">
                <input type="submit" class="btn btn-outline-primary  w-100" value="SignUp" />
            </div>
        </div>

    </div>
</form>