@reference "tailwindcss";

@tailwind base;
@tailwind components;
@tailwind utilities;

/* custom css */
.btn-primary {
  @apply bg-[#3B5AA9] text-white text-sm font-medium px-8 py-3 rounded-full transition no-underline;
}

.btn-primary:hover {
  @apply bg-[#2f4c94];
}

